body{
    margin: 0;
    padding: 0;
    background:linear-gradient(320deg,#FF6666,#FF8989,#FCAEAE)
    
}

#nav {
    height: 75px;
    width: 100%;
    background-color:#D14D72;
    display: flex;
    justify-content: space-between;
}

#nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav ul li {
    list-style: none;
    font-size: 30px;
    margin: 15px 10px;
    font-weight: 600;
}

#nav ul li a {
    text-decoration: none;
    color: #f5fbf1;
}

#nav ul li a:hover {
    color: #FFABAB;
}

#nav ul li a i {
    margin-top: 5px;
}

.logo {
    width: 55px;
}

.searchbar {
    height: 35px;
    width: 250px;
}

.search-btn {
    height: 40px;
    width: 40px;
    margin-left: -5px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF9B9B;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 3s;
    font-weight: 900;
    font-size: 30px;
  }
  
.dropdown-content a {
    color:#f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #FFABAB}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

#sign-up form {
    background-color: #f1f1f1;

}

#image{
    width: 80%;
    height: 700px;
    margin-top: 20px;
}

#china-one{
    display: flex;
    justify-content: center;
    font-weight: 1200;
    font-size: 25px;
    color: #C51605;
}

#china-one:hover{
    color: #F31559;
}


#china-two{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    color:#4682A9;
    margin-top: 15px;

}
#china-three,#china-four{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}

#china-1{
    width: 70%;
    height: 250px;
    font-weight: 800;
    color:#7286D3;
    font-size: 25px;
    margin: 100px auto;
    text-align: center;
    background-color:white;
    padding:10px 0 20px;
    border-radius: 25px;
    cursor: pointer;
}

#trungthu{
    margin-top: 50px;
}
#trungthu-one{
    font-weight: 900;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color:#FE0000;
    background-color: #EFEFEF;
    width: 55%;
    height: 100px;
    display: flex;
    justify-content: center;
}

#trungthu-one:hover{
    color:#7D7463;
}

#trungthu-two{
    font-size: 20px;
    border:white double 10px;
    border-radius: 25px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}

#trungthu-1-1,#trungthu-1-2,#trungthu-1-3,#trungthu-1-4,#trungthu-1-5{
    color: white;
}

#trungthu-img-one{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

#trungthu-three{
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 20px;
    color: #B31312;
    font-size: 20px;
    font-weight: bold;
    background-color: #EEEDED;
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: center;
}

#trungthu-three:hover{
    color: #2B2A4C;
}

#trungthu-1-1{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 7% auto;
}

#trungthu-1-2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 7% auto;

}

#trungthu-1-3{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 7% auto;
    
}

#trungthu-1-4{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 7% auto;
    
}

#trungthu-1-5{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: 7% auto;
}


#trungthu-image-2 img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
}
#trungthu-image-3 img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-left: -50px;
}

#trungthu-image-4 img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-left: -100px;
}

#trungthu-image-5 img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-left: -70px;

}

#trungthu-image-6 img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-left: -120px;
}

#trungthu-four{
    border:#66DE93 double 8px;
    border-radius: 25px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#trungthu-seven{
    border:#7D7463 double 8px;
    border-radius: 25px;
    padding: 20px;
    margin-right: 40px;
    margin-right: 40px;
    
}

#trungthu-ten{
    border:#6F61C0 double 8px;
    border-radius: 25px;
    padding: 20px;
}

#trungthu-thriteen{
    border:#765827 double 8px;
    border-radius: 25px;
    padding: 20px;
}

#trungthu-sixteen{
    border:#35A29F double 8px;
    border-radius: 25px;
    padding: 20px;
}

#footer{
    display:flex;
    background-color: #06344c;
    justify-content: space-around;
}
#footer-title{
    font-size: 40px;
    color:#f5fbf1 ;
}
#footer-icons i{
    font-size: 40px;
    margin: 0 5px;
    color: #f5fbf1;
}

#footer-icons i:hover{
    color: #6fb3c6;
}
#footer-map{
    margin:0;
    color:hsl(hue,saturation);
    display: flex;
    justify-content:space-around;
    margin-top: 70px;
}

#footer-map-1{
    margin-bottom: 15px;
}

#footer-map-2{
    margin-top: 70px;
}

hr{
    font-size: 30px;
}

#footer-info{
    margin-left: 10px;
}

#footer-icons{
    margin-left: 50px;
    margin-bottom: 30px;
}












        
